section(class="x-secondSection")
	div(class='x-first')
		div(class="x-firstBanners")
			ul(class='x-list__firstBanners')
				li
					img(src="assets/images/image-01.jpg" alt="Shutterstock")
				li
					img(src="assets/images/image-01.jpg" alt="Shutterstock")
				li
					img(src="assets/images/image-01.jpg" alt="Shutterstock")
		
		article(class="x-firstDescription x-description")
			div(class="x-center")
				h2(class="x-subtitle" title="Lorem Ipsum") Lorem Ipsum
				span(class='x-greenbar')
				p(class="x-text") Aliquam doloremque corporis velit dolor libero cum, iusto autem quidem eum expedita enim quisquam ipsa quis explicabo labore neque officia, distinctio atque?
	div(class="x-second")
		div(class="x-secondBanners")
			ul(class='x-list__secondBanners')
				li
					img(src="assets/images/image-02.jpg" alt="Shutterstock")
				li
					img(src="assets/images/image-02.jpg" alt="Shutterstock")
				li
					img(src="assets/images/image-02.jpg" alt="Shutterstock")
		article(class="x-secondDescription x-description")
			div(class="x-center")
				h2(class="x-subtitle" title="Dolor Sit Amet") Dolor Sit Amet
				span(class='x-greenbar')
				p(class="x-text") Aliquam doloremque corporis velit dolor libero cum, iusto autem quidem eum expedita enim quisquam ipsa quis explicabo labore neque officia, distinctio atque?