.x-footer
	background-color #6f6f6f
	height 56px
	clear both
	&::after
		content ''
		display block
		clear both
	&::before
		content ''
		display block
		clear both
	.x-logo
		margin-top 18px
		grid(50%)
	.x-copy
		grid(50%)
		margin-top 18px
		text-align right
		.x-copyRight
			color #b7b7b7
			font-size 14px
			.x-mad
				text-decoration underline