footer(class='x-footer')
	div(class="container")
		h3(class="x-logo" title="Sample") 
			span(class="x-green") Sa
			| mple
		div(class="x-copy")
			p(class="x-copyRight" title="by MadGO") by 
				span(class="x-mad") MadGO