div(class="container")
	h3(class="x-logo" title="Sample") 
		span(class="x-green") Sa
		| mple
	div(class="x-hamburguer")
	nav(class="x-nav")
		ul(class="x-navList")
			li(class="x-listItem")
				a(href="" title="Home") Home
			li(class="x-listItem")
				a(href="" title="About") About
			li(class="x-listItem")
				a(href="" title="Our History") Our History
			li(class="x-listItem")
				a(href="" title="Blog") Blog
			li(class="x-listItem")
				a(href="" title="Contact US") Contact US