// =========================================
// Sections --------------------------------
.container 
  width 1200px
  max-width 95%
  margin-left auto
  margin-right auto
body
	color colorMain
.x-green
	color greenColor
.x-logo
	text-transform uppercase
	font-size 18px
	color #fff